<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.android.ukforce">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">

    <activity android:name=".force_details.forceactivity"
        android:launchMode="singleTop">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <action android:name="android.intent.action.SEARCH"/>
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
           </activity>
        <activity android:name=".specificforce_details.specificforceactivity"/>
        <activity android:name=".EnterCrimedetails"
            android:windowSoftInputMode="adjustNothing"
           />
<activity android:name=".crimeSpecific"/>
        <activity android:name=".viewfavourites"/>
        <provider
            android:authorities="com.example.android.ukforce"
            android:name=".favdata.favprovider"
            android:exported="false"/>
    </application>

</manifest>